<div ng-controller="mainCtrl">
    <top-header text="Welcome to {{pageTitle}}"></top-header>
    <p>
        Lorem ipsum dolor sit amet, libris vocibus est et, ex quo meliore oporteat singulis, epicurei consulatu ei vel. Vis cu cibo vivendum adipiscing, pri ei odio denique principes. Ei saepe iriure aperiri his, in dicam molestie vis, modo mentitum quaestio ex sit. Qui an elit splendide persequeris, at docendi epicuri recteque nam.
    </p>
    <p>
        Eros iusto reformidans vis an, eos ut libris suscipit contentiones. Et vix habeo epicurei, ne quo omnis utroque, in augue dolorum erroribus quo. Alia consulatu pri eu, no mel suas delenit tibique, agam meis interpretaris per ut. Viris suscipiantur ex has. An mundi omnes vis. Vel ea dissentiunt interpretaris, reque volumus pro no, eos oratio possim at.
    </p>
</div>