<div ng-controller="mainCtrl">
    <div class="menu">
        <a href="" ng-click="users1()">users1</a> | <a href="" ng-click="users2()">users2</a>
    </div>
    <div ng-if="users">
        <table>
            <thead>
            <tr>
                <th>NAME</th>
                <th>AGE</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users">
                <td>{{u.name}}</td>
                <td>{{u.age}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>