/**
!/src
!/src/**
!/nodejs/.bowerrc
!/nodejs/bower.json
!/nodejs/Gruntfile.js
!/nodejs/package.json
/src/main/resources/static/bower_components
/src/main/resources/static/js/uglified
!.gitignore
!pom.xml
!README.md

