body {
    padding-top: 70px;
    padding-bottom: 30px;
}
hr.gradient-separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}