body {
    margin: 0;
}
header.top {
    background-color: #ffc853;
    width: 100%;
    /*padding: 30px 0;*/
    text-align: center;
}
header.top > p {
    padding: 30px;
    margin: 0;
}
.menu {
    background-color: #ffba2e;
    padding: 10px;
    text-align: left;
}